.product
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-height: 400px;
    min-height: 100px;
    background-color: white;
    z-index :1;
    margin: 10px;
    padding: 20px;
    width: 100%;
}
.product__price
{
    margin-top: 5px;
}
.product__rating
{
    display: flex;
    margin-top: 1px;
}
.product img
{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product button
{
    background-color:  #1EB100;
    border: none;
    border-radius: 9px;
    padding: 7px 20px;
    /* border: 1px solid; */
    /* border-color: #a88734 #9c7e31 #846a29 ; */
}