.subtotal
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border : 1px solid #ddd;
    border-radius: 3px;
}
.subtotal__gift
{
    display: flex;
    align-items: center;
}
.subtotal__gift input
{
    margin-right: 5px;
}
.subtotal button
{
    background-color: #F7CA00;
    border: none;
    border-radius: 9px;
    padding: 7px 20px;
}


